.about-us {
  padding-top: 35px;
}

.about-us__title {
  @include noindent;
  font-family: $openSansBold;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.about-us__list-left {
  @include list;
}

.about-us__list-right {
  @include list;
}

.about-us__img {
  fill: #63d1bb;
}

.about-us__info {
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.18;
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 35px;
    padding-bottom: 80px;
  }

  .about-us__lists-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .about-us__item {
    width: 280px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    padding-left: 175px;
    padding-right: 175px;
  }
}
