.catalog-list__item {
  margin-bottom: 30px;
  border: 1px solid #ededed;
  width: 260px
}

.catalog-list__img {
  width: 260px;
  height: 195px;
}

.catalog-list__item-info-sections {
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
}

.catalog-list__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-list__title {
  @include noindent;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.41;
  margin-bottom: 17px;
}

.catalog-list__info {
  @include noindent;
  padding-bottom: 27px;
  font-size: 13px;
  line-height: 2.31;
  color: #444444;
}

.catalog-list__price-section {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog-list__price-section::before {
  content: "";

  position: absolute;

  top: -15px;
  left: 0;

  width: 204px;
  height: 1px;
  background-color: #ececec;
}

.catalog-list__price {
  font-family: $openSansBold;
  font-size: 15px;
  line-height: 1.6;
}

.catalog-list__button {
  @include button;
  @include noindent;
  width: 20px;
  height: 19px;
}

.catalog-list__cart-icon {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .catalog-list__item {
    display: flex;
    width: auto;
    height: 334px;
  }

  .catalog-list__item-info-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
  }

  .catalog-list__img-tablet {
    display: block;
    width: 335px;
    height: 335px;
  }

  .catalog-list__price-section::before {
    width: 268px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: flex;
  }

  .catalog-list__item {
    flex-direction: column;
    margin-right: 50px;
    width: 316px;
    height: auto;
  }

  .catalog-list__item-info-sections {
    width: 316px;
    box-sizing: border-box;
  }

  .catalog-list__price-section::before {
    width: 256px;
  }

  .catalog-list__product-info {
    min-height: 120px;
  }
}
