.catalog {
  padding-top: 30px;
}

.catalog__catalog-list {
  @include list;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 668px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1050px;
  }
}
