.categories__list {
  list-style: none;
  padding: 0;
}

.categories__item {
  width: 100%;
}

.categories__item--interior {
  background-color: #63d1bb;
}

.categories__item--toy {
  background-color: #56c3b2;
}

.categories__link {
  @include link;
  position: relative;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: $openSansBold;
  font-size: 19px;
  line-height: 1.26;
  color: #ffffff;
}

.categories__img {
  position: absolute;
}

.categories__img--interior {
  width: 40px;
  height: 62px;
  fill: #3bb09d;
  top: 10px;
  right: 30px;
}

.categories__img--toy {
  width: 40px;
  height: 62px;
  fill: #35a999;
  top: 10px;
  right: 30px;
}

@media (min-width: 768px) {
  .categories__list {
    display: flex;
  }
}
