.categories__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories__item {
  width: 100%;
}

.categories__item--interior {
  background-color: #63d1bb;
}

.categories__item--toy {
  background-color: #56c3b2;
}

.categories__link {
  @include link;
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 29px;
  font-family: $openSansBold;
  font-size: 19px;
  line-height: 1.26;
  color: #ffffff;
  width: 175px;
}

.categories__img {
  position: absolute;
}

.categories__img--interior {
  width: 40px;
  height: 62px;
  fill: #3bb09d;
  top: 23px;
  right: -80px;
}

.categories__img--toy {
  width: 60px;
  height: 60px;
  fill: #35a999;
  top: 20px;
  right: -89px;
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
  }

  .categories__item {
    min-height: 120px;
  }

  .categories__link {
    padding-top: 28px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 1.5;
  }

  .categories__img--interior {
    top: 30px;
    right: -87px;
  }

  .categories__img--toy {
    top: 31px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    width: 100%;
  }

  .categories__list .categories__item--interior:hover {
    height: 125px;
  }

  .categories__img--interior {
    top: 30px;
    right: -278px;
  }

  .categories__img--toy {
    right: -279px;
  }
}
