.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 45px;
  margin-top: 44px;
  margin-bottom: 39px;
}

.contacts__info {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contacts__title {
  @include noindent;
  margin-bottom: 25px;
  font-family: $openSansBold;
  font-size: 18px;
  line-height: 1.67;
}

.contacts__table {
  border-collapse: collapse;
  font-family: $openSans;
  font-size: 15px;
  line-height: 2;
  color: #444444;
  margin-bottom: 9px;
}

.contacts__td {
  padding-bottom: 29px;
  vertical-align: top;
}

.contacts__td--address {
  padding-right: 30px;
}

.contacts__td--email-title {
  width: 73px;
}

.contacts-email {
  @include link;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 5px;
}

.contacts__map-wrapper {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts__map {
  width: 320px;
  height: 457px;
}

.contacts__button-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.contacts__button {
  @include link;
  @include style-button;
  line-height: 1.11;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 62px;
    margin-bottom: 57px;
  }

  .contacts__info {
    width: 768px;
    padding: 0 50px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 1.16;
    margin-left: -4px;
    margin-bottom: 49px;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 5px;
    width: 45px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
  }

  .contacts__table {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 30px;
  }

  .contacts__td--email-title {
    width: 129px;
  }

  .contacts__td--email {
    width: 327px;
  }

  .contacts__td--address-title {
    width: 101px;
  }

  .contacts__td--address {
    width: 333px;
  }

  .contacts__button-wrapper {
    width: 668px;
  }

  .contacts__table tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts-email {
    padding-bottom: 3px;
  }

  .contacts__map {
    width: 768px;
  }

  .contacts__button {
    width: 226px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: row;
    justify-content: flex-end;
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 120px;
    margin-bottom: 60px;
    padding-right: 1px;
  }

  .contacts__info {
    width: auto;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    padding-top: 68px;
    margin-right: 51px;
  }

  .contacts__title {
    font-size: 53px;
    margin-bottom: 46px;
  }

  .contacts__title::after {
    top: -6px;
    left: -106px;
  }

  .contacts__table {
    width: 300px;
    margin-bottom: 51px;
    letter-spacing: -0.1px;
  }

  .contacts__table tbody {
    display: table;
  }

  .contacts__td {
    width: 76px;
    padding-bottom: 30px;
  }

  .contacts__td--address {
    padding-right: 0;
    width: 219px;
    line-height: 1.8;
  }

  .contacts__map-wrapper {
    margin: 0;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__button-wrapper {
    position: relative;
    justify-content: flex-start;
    margin-bottom: 45px;
    width: auto;
  }

  .contacts__button {
    margin-left: 2px;
  }

  .contacts-email:hover {
    color: #46c1ae;
  }

  .contacts-email:focus {
    opacity: 0.3;
  }

  .contacts__button:hover {
    color: #ffffff;
    background-color: #444444;
  }

  .contacts__button:focus {
    color: #7c7c7c;
  }
}
