.container {
  width: 322px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    .container {
      width: 1050px;
      padding: 0 50px;
    }
  }
}
