.form {
  // background-color: red;
}

.form__text {
  font-family: $openSans;
  font-size: 13px;
  line-height: 1.85;
  color: #444444;
  margin-bottom: 30px;
}

.form fieldset {
  border: none;
}

.form__wrapper {
  position: relative;
}

.form__wrapper::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  right: 30px;
  top: 8px;
  background-color: #63d1bb;
}

.form__form-name {
  display: block;
  position: relative;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 0.94;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.form label {
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1;
}

.form textarea {
  width: 100%;
  height: 142px;
  border: 2px solid #000000;
  margin-bottom: 18px;
  padding: 18px 17px;
  box-sizing: border-box;
  font-family: $openSans;
  font-size: 17px;
  line-height: 1;
  color: rgba(68, 68, 68, 0.3);
}

.form__type-list {
  @include list;
}

.form__type-list label {
  position: relative;
  display: block;
  padding-left: 62px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.form__type-list label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: solid 2px #444444;
  border-radius: 50%;
}

.form__type-input:checked + label::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 14px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__color-list {
  @include list;
}

.form__color-list label {
  position: relative;
  display: block;
  padding-left: 64px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 22px;
}

.form__color-list label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 39px;
  border: solid 2px #444444;
}

.form__color-input:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 9px;
  width: 33px;
  height: 23px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__name-list {
  @include list;
}

.form__type {
  @include noindent;
  margin-bottom: 45px;
}

.form__color {
  @include noindent;
  margin-bottom: 43px;
}

.form__full-name {
  @include noindent;
  margin-bottom: 34px;
}

.form__number {
  @include noindent;
  position: relative;
  margin-bottom: 25px;
}

.form__number-icon {
  position: absolute;
  top: 38px;
  right: 33px;
}

.form__email {
  @include noindent;
  margin-bottom: 27px;
}

.form__email-icon {
  position: absolute;
  top: 56px;
  right: 33px;
}

.form__extra {
  @include noindent;
}

.form__required {
  display: block;
  font-family: $openSans;
  font-size: 14px;
  line-height: 1.14;
  color: #444444;
  margin-bottom: 31px;
}

.form__form-bottom {
  margin-bottom: 55px;
}

.form__button {
  @include button;
  @include style-button;
}

.form input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 24px;
  padding: 18px 40px 17px 0;
  box-sizing: border-box;
  font-family: $openSans;
  font-size: 17px;
  line-height: 1;
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .form__text {
    padding-top: 60px;
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 60px;
  }

  .form__type-list label {
    margin-bottom: 25px;
  }

  .form__wrapper::after {
    display: none;
  }

  .form__wrapper {
    display: flex;
  }

  .form__form-name {
    min-width: 80px;
    margin-right: 86px;
  }

  .form__color {
    padding-top: 50px;
    padding-bottom: 33px;
  }

  .form__color-list {
    display: flex;
    flex-wrap: wrap;
  }

  .form__color-item {
    width: 240px;
  }

  .form__color {
    background-color: #f1f1f1;
  }

  .form__name-item {
    display: flex;
    align-items: flex-start;
    width: 500px;
  }

  .form__name-item label {
    padding-right: 25px;
  }

  .form__name-item input[type="text"] {
    padding-top: 0;
  }

  .form__number {
    background-color: #f1f1f1;
    margin-bottom: 0;
    padding-top: 50px;
  }

  .form__number-icon {
    top: 3px;
    right: 75px;
  }

  .form__number input[type="text"] {
    background-color: #f1f1f1;
    padding-top: 0;
  }

  .form__email {
    background-color: #f1f1f1;
    padding-bottom: 26px;
  }

  .form__email input[type="text"] {
    background-color: #f1f1f1;
    padding-top: 0;
  }

  .form__email-icon {
    top: 3px;
    right: 69px;
  }

  .form__extra {
    margin-bottom: 45px;
  }

  .form__form-bottom  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .form__required {
    margin-bottom: 0;
  }
}
