.info-nav__list {
  @include list;
}

.info-nav__link {
  @include link;
  position: relative;
  font-family: $openSansBold;
  font-size: 17px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 75px;
  border-bottom: 1px solid #ececec;
  text-align: left;
}

.info-nav__search-icon {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 30px;
  left: 30px;
  fill: #d3d2d2;
}

.info-nav__cart-icon {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 30px;
  left: 30px;
}

@media (min-width: $tablet-width) {
  .info-nav__list {
    display: flex;
  }

  .info-nav__link {
    border-left: 1px solid #ececec;
    border-bottom: none;
    min-height: 60px;
    box-sizing: border-box;
  }

  .info-nav__search-titile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .info-nav__link--search {
    padding-left: 30px;
    padding-right: 30px;
  }

  .info-nav__search-icon {
    position: relative;
    top: 0;
    left: 0;
  }
}
