.main-nav__toggle {
  @include button;
  width: 20px;
  height: 14px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-nav__list {
  @include noindent;
  list-style: none;
}

.main-nav__item {
  z-index: 1;
}

.main-nav__link {
  @include link;
  font-family: $openSansBold;
  font-size: 17px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
  padding-left: 75px;
}

.main-nav__link--desktop {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list,
  .main-nav--closed + .interface-elements {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--opened .main-nav__list,
  .main-nav--opened + .interface-elements {
    display: block;
  }

  .main-nav--opened .main-nav__toggle {
    height: 20px;
    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list,
  .main-nav--nojs + .interface-elements {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    position: absolute;
    left: 30px;
    top: 85px;
  }

  .main-nav__link {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 35px;
    font-size: 15px;
    line-height: 1.6;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    position: static;
  }

  .main-nav__link {
    margin-right: 0;
    padding: 30px 25px;
    min-height: 60px;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 1.41;
  }

  .main-nav__item:first-child {
    border-right: 1px solid #ececec;
  }

  .main-nav__link--desktop {
    @include link;
    display: block;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 35px;
    font-family: $openSansBold;
    font-size: 15px;
    line-height: 1.6;
  }

  .main-nav__item--new {
    position: absolute;
    left: 50px;
    top: 85px;
  }

  .main-nav__item--sale {
    position: absolute;
    left: 250px;
    top: 85px;
  }
}
