.main-navigation__toggle {
  @include button;
  width: 20px;
  height: 14px;
  background-image: url("../../img/icon-menu-open.svg");
}

.main-navigation__list {
  @include noindent;
  list-style: none;
}

.main-navigation__link {
  @include link;
  font-family: $openSansBold;
  font-size: 17px;
}
