.main-product {
  padding-top: 34px;
}

.main-product__title {
  @include noindent;
  margin-bottom: 8px;
  font-family: $openSansBold;
  font-size: 25px;
  line-height: 1.2;
}

.main-product__mark {
  margin-bottom: 30px;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.18;
  color: #63d1bb;
}

.main-product__info {
  margin-bottom: 35px;
  font-family: $openSans;
  font-size: 15px;
  line-height: 1.6;
  color: #444444;
}

.main-product__params {
  margin-bottom: 28px;
  font-family: $openSans;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
  border-collapse: collapse;
  width: 100%;
}

.main-product__td {
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.main-product__img {
  width: 260px;
  height: 315px;
  background-image: url("../img/triple-set-mobile@1x.jpg");
  margin-bottom: 29px;
}

.main-product__price {
  margin-bottom: 28px;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.41;
  color: #444444;
  text-align: center;
}

.main-product__button {
  @include button;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.18;
  color: #444444;
  border: solid 2px #444444;
}

@media (min-width: 768px) {
  .main-product__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-product__title-section {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .main-product__info-section {
    width: 250px;
    margin-right: 35px;
  }

  .main-product__img {
    width: 334px;
    height: 404px;
    margin-top: 20px;
    margin-bottom: 29px;
    background-image: url("../img/triple-set-tablet@1x.jpg");
  }

  .main-product__price-section {
    width: 290px;
  }
}

@media (min-width: 1150px) {
  .main-product__wrapper {
    flex-direction: column;
  }

  .main-product__title-section {
    flex-grow: 0;
    flex-direction: row-reverse;
  }

  .main-product__img {
    width: 525px;
    height: 637px;
    margin-top: 20px;
    margin-bottom: 29px;
    background-image: url("../img/triple-set-desktop@1x.jpg");
  }
}
