.main-product {
  padding-top: 34px;
  position: relative;
}

.main-product__title {
  @include noindent;
  margin-bottom: 8px;
  font-family: $openSansBold;
  font-size: 25px;
  line-height: 1.2;
}

.main-product__title-section {
  margin-bottom: 30px;
}

.main-product__mark {
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.18;
  color: #63d1bb;
}

.main-product__info {
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 1.6;
  color: #444444;
}

.main-product__params {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 1.33;
  color: #444444;
  border-collapse: collapse;
  width: 100%;
}

.main-product__td {
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.main-product__img {
  width: 260px;
  height: 315px;
  background-image: url("../img/triple-set-mobile@1x.jpg");
  margin-bottom: 29px;
}

.main-product__price {
  margin-bottom: 28px;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.41;
  color: #444444;
  text-align: center;
}

.main-product__button {
  @include button;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.18;
  color: #444444;
  border: solid 2px #444444;
}

@media (min-width: $tablet-width) {
  .main-product__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
    padding-bottom: 70px;
  }

  .main-product__title-section {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .main-product__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .main-product__mid-section {
    display: flex;
    justify-content: space-between;
  }

  .main-product__info-section {
    width: 290px;
  }

  .main-product__info {
    margin-top: 0;
  }

  .main-product__mark {
    width: 120px;
    text-align: center;
    align-self: center;
  }

  .main-product__img {
    width: 334px;
    height: 404px;
    margin-bottom: 29px;
    background-image: url("../img/triple-set-tablet@1x.jpg");
  }

  .main-product__price-section {
    width: 250px;
    margin-top: -163px;
  }

  .main-product::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 23px;
    bottom: 0;
    left: 0;
    background-image: url("../../img/bg-zigzag-line.svg");
  }
}

@media (min-width: $desktop-width) {
  .main-product__wrapper {
    width: 1050px;
  }

  .main-product__title-section {
    position: absolute;
    flex-grow: 0;
    flex-direction: row-reverse;
    width: 700px;
    top: 110px;
  }

  .main-product__title {
    font-size: 53px;
    line-height: 1.08;
  }

  .main-product__mid-section {
    justify-content: flex-end;
  }

  .main-product__info-section {
    align-self: center;
    margin-right: 60px;
  }

  .main-product__img {
    width: 525px;
    height: 637px;
    margin-top: 20px;
    margin-bottom: 29px;
    background-image: url("../img/triple-set-desktop@1x.jpg");
  }

  .main-product__price-section {
    align-self: center;
    width: 290px;
    margin-left: -410px;
  }
}
