.making-of__content-wrapper {
  position: relative;
  margin-bottom: 58px;
}

.making-of__description {
  padding: 21px 34px 31px 34px;
  border: solid 1px #ececec;
}

.making-of__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.making-of__title-icon {
  margin-left: -1px;
  margin-bottom: 4px;
}

.making-of__title {
  @include noindent;
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.5;
  width: 126px;
  margin-right: 9px;
}

.making-of__info {
  font-family: $openSans;
  font-size: 13px;
  line-height: 1.85;
  color: #444444;
  margin-top: 201px;
  margin-bottom: 25px;
}

.making-of__button {
  @include style-button;
  width: auto;
  font-size: 17px;
  text-transform: uppercase;
}

.making-of__video-wrapper {
  position: absolute;
  top: 95px;
}

.making-of__preview img {
  width: 260px;
  height: 150px;
}

.making-of__play-button {
  @include button;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 115px;
  height: 89px;
}

@media (min-width: $tablet-width) {
  .making-of__content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .making-of__title-wrapper {
    justify-content: flex-start;
    margin-bottom: 25px;
  }

  .making-of__title-icon {
    margin-right: 33px;
  }

  .making-of__title {
    width: auto;
    font-size: 20px;
  }

  .making-of__video-wrapper {
    position: relative;
    top: 0;
  }

  .making-of__preview img {
    width: 668px;
    height: 455px;
  }

  .making-of__description {
    position: relative;
    top: -5px;
    padding-top: 32px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 45px;
  }

  .making-of__info {
    margin-top: 0;
    font-size: 15px;
    line-height: 2;
    margin-left: -2px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .making-of__preview img {
    width: 682px;
  }

  .making-of__content-wrapper {
    flex-direction: row-reverse;
    margin-bottom: 105px;
    height: 455px;
  }

  .making-of__description {
    padding-top: 40px;
    padding-left: 80px;
    padding-bottom: 52px;
    width: 368px;
    top: 0;
    height: 361px;
  }

  .making-of__title-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 42px;
  }

  .making-of__title-icon {
    margin-bottom: 21px;
  }

  .making-of__title {
    margin-left: -2px;
    line-height: 1.3;
    margin-bottom: -11px;
  }

  .making-of__info {
    margin-bottom: 46px;
  }

  .making-of__button {
    width: 228px;
    height: 51px;
    padding-right: 2px;
    box-sizing: border-box;
  }

  .making-of__content-wrapper:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .making-of__content-wrapper:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .making-of__play-button:hover .making-of__play-icon {
    @include button;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.2);
    transition: 0.1s;
  }

  .making-of__play-button:focus .making-of__play-icon {
    @include button;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.3;
    transform: scale(0.8);
    transition: 0.1s;
  }

  .making-of__button:hover {
    color: #ffffff;
    background-color: #444444;
  }

  .making-of__button:focus {
    color: #7c7c7c;
  }
}
