@mixin button {
  border: none;
  background: none;
}

@mixin link {
  text-decoration: none;
  color: #000000;
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin noindent {
  margin: 0;
  padding: 0;
}

@mixin style-button {
  width: 256px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: $openSansBold;
  border: solid 2px #444444;
  color: #444444;
  background-color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
