.page-header {
  position: relative;
  background-color: #f1f1f1;
}

.page-header--index {
  background-color: #f9f9f9;
}

.page-header__top-menu-wrapper {
  background-color: #ffffff;
}

.page-header__top-menu {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 22px;
  padding-bottom: 20px;
  align-self: center;
}

.page-header__logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  top: 80px;
  left: 0;
}

.page-header__logo--desktop {
  display: none;
}

.special-nav {
  display: none;
}

.page-header__bottom-section {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 177px;
  justify-content: center;
}

.page-header__bottom-section--index {
  justify-content: space-between;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 75px;
  min-height: 490px;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 620px auto;
  }
}

.page-header__promo-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__title {
  @include noindent;
  font-family: $openSansBold;
  font-size: 26.5px;
  line-height: 1.11;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.page-header__free-delivery {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header__top-menu {
    width: 100%;
    padding: 0;
  }

  .page-header__bottom-section {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header__top-menu-wrapper {
    border-bottom: 1px solid #ececec;
  }

  .page-header__top-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 120px;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo::after {
    display: none;
  }

  .main-navigation__toggle {
    display: none;
  }

  .page-header__bottom-section {
    min-height: 235px;
    padding: 0 50px;
  }

  .page-header__bottom-section--index {
    min-height: 450px;
    padding-top: 90px;
    margin-top: 0;
    background-image: url("../img/hero-tablet@1x.jpg");
    box-sizing: content-box;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 770px auto;
    }
  }

  .page-header__title {
    font-size: 43px;
    line-height: 1.16;
    padding: 0;
  }

  .page-header__free-delivery {
    display: block;
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 15px;
    line-height: 1.6;
    color: #444444;
  }

  .page-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    bottom: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 2;
  }

  .main-nav {
    order: 1;
  }

  .info-nav {
    order: 3;
  }

  .page-header__bottom-section--index {
    width: 1050px;
    min-height: 585px;
    padding-top: 160px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-header__title {
    width: 610px;
    align-self: center;
  }

  .page-header__promo-screen--index {
    height: 730px;
  }
}
