.page-footer {
  background-color: #f1f1f1;
}

.page-footer__top-section {
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__bottom-section {
  padding-top: 22px;
  padding-bottom: 23px;
}

.page-footer__copyright {
  @include noindent;
  font-family: $openSansBold;
  font-size: 20.5px;
  line-height: 0.83;
}
