.recalls {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  padding-bottom: 60px;
}

.recalls::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url("../img/bg-zigzag-line.svg");
}

.recalls__title {
  @include noindent;
  font-family: $openSansBold;
  font-size: 25px;
  line-height: 1.2;
  order: 1;
}

.recalls__write {
  @include link;
  @include style-button;
  line-height: 1.11;
  order: 5;
}

.recalls__message {
  font-family: $openSans;
  font-size: 15px;
  line-height: 2;
  color: #444444;
  order: 2;
}

.recalls__author {
  font-family: $openSansBold;
  font-size: 17px;
  line-height: 1.41;
  margin-bottom: 35px;
  order: 3;
}

.recalls__email {
  font-family: $openSans;
  line-height: 1.76;
  color: #444444;
}

.recalls__buttons {
  display: flex;
  order: 4;
}

.recalls__button {
  height: 50px;
  width: 130px;
  margin-bottom: 40px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .recalls {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .recalls__title {
    margin-right: auto;
    font-size: 43px;
    line-height: 1.16;
  }

  .recalls__write {
    order: 2;
    width: 175px;
    height: 52px;
    margin-bottom: 53px;
  }

  .recalls__message {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 70px;
  }

  .recalls__author {
    @include noindent;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  .recalls__button {
    border: transparent;
    margin-bottom: 70px;
    width: 88px;
  }
}

@media (min-width: $desktop-width) {
  .recalls {
    padding-left: 175px;
  }

  .recalls__message {
    margin-bottom: 50px;
  }

  .recalls__button {
    margin-bottom: 100px;
  }

  .contacts__map {
    margin-right: 0;
  }
}
