$openSans: "Open Sans", Arial, sans-serif;
$openSansBold: "Open Sans Bold", Arial, sans-serif;

@mixin button {
  border: none;
  background: none;
}

@mixin link {
  text-decoration: none;
  color: #000000;
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin noindent {
  margin: 0;
  padding: 0;
}

@import "blocks/container.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/promo-screen.scss";
@import "blocks/categories.scss";
@import "blocks/main-product.scss";
@import "blocks/about-us.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-list.scss";


@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff"),
         url("../fonts/opensans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/opensansbold.woff") format("woff"),
         url("../fonts/opensansbold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
